@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bad+Script&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+IN:wght@100..400&family=Quicksand:wght@300..700&display=swap');
.user_logo img {
    width: 200px;
    height: 200px;
    margin-left: 10%;
    margin-top: 11vh;
    cursor: pointer;
    border-radius: 100px;
    user-select: none;
}
.user_id_xolst {
    z-index: 100;
    width: 75%;
    height: 130vh;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(207, 226, 204);      
    border: 7px dashed rgba(125, 192, 121, 0.781);
    outline: 7px solid rgba(141, 240, 12, 0.199);
    outline-offset: -8px; /* Для создания эффекта двух границ */
    
}
.descript_user {
    width: 40%;
    height: 30vh;
    font-size: 17.6px;
    color:rgb(46, 46, 46);
    border:2.4px solid rgb(74, 133, 36);
    background-color:rgb(247, 247, 247);
    float: right;
    transform: translateY(-25vh);
    margin-right: 18%;
    resize: none;
    word-break: break-all;

    
}
.pod_logo_user {
    margin-top: 10px;
    width: 310px;
    position: sticky;
    word-break: break-all;
    z-index: 500;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #5b7761e7; 
    text-align: center; 
    margin-left: 5.975%;
    font-size: 24.3px;
}
.info_iser_h1 {
    margin-top: 10vh;
}



.user_id_xolst h2 {
    position: absolute;
    font-style: normal;
    position: sticky;
    z-index: 500;
    font-family: "Ubuntu", serif;
    font-weight: 420;
    font-style: normal;
    color: #599b1c; 
    text-align: start; 
    word-break: break-all;
    font-size: 23.8px;
    margin-top: 22px;
    transform: translateY(-27vh);
    width: 56%;
    margin-left: 39%;
}

.public_tem {
    position: sticky;
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center; 
    color: #e3ebe0f5;
    height: 35px;
    float: right;
    margin-top: -18vh;
    margin-right: 34%;
    width: 27%;
    height: auto;
    border-radius: 12px;
    border: none;
    background-color: #72ddad;
    border: 3.6px dashed rgba(220, 238, 61, 0.952);
    transition: all 1.1s ease;
    font-size: 22.3px;
}
.osnova_butt {
    position: sticky;
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center; 
    color: #e3ebe0f5;
    height: 35px;
    float: right;
    margin-top: 0.5vh;
    height: auto;
    transform: translateY(-10vh);
    margin-right: 34%;
    width: 27%;
    word-break: break-all;
    border-radius: 12px;
    border: none;
    background-color: #72ddad;
    border: 3.6px solid rgba(53, 170, 48, 0.952);
    transition: all 1.1s ease;
    font-size: 22.3px;
}
.exit_butt {
    position: sticky;
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center; 
    color: #e3ebe0f5;
    height: 35px;
    float: right;
    margin-top: 0.5vh;
    height: auto;
    transform: translateY(-10vh);
    margin-right: 34%;
    width: 27%;
    word-break: break-all;
    border-radius: 12px;
    border: none;
    background-color: #72ddad;
    border: 3.6px solid rgba(219, 34, 34, 0.952);
    transition: all 1.1s ease;
    font-size: 22.3px;
}
.exit_butt:hover{
    transform: scale(97%) translateX(10px) translateY(-10vh);;
    left: -5%;
    top: -1vh;
    background-repeat: no-repeat;
    
}

.public_tem:hover{
    transform: scale(110%);
    content: '';
    left: -10%;
    top: -10%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    animation: rotate 2s;
}

@keyframes rotate {
    100% {
        transform: translateX(25px);
    }
}

.public_tem:active {
    transition: all 0.03s ease;
    transform: rotate(0.01rad);
}
